<table width="1200" height="800" border="1">
    <tr>
        <td width="1200" height="100" colspan="2">Header</td>
    </tr>
    <tr>
        <td width="100" height="600">Sol Menğ</td>
        <td width="1100" height="600">@RenderBody()</td>
    </tr>
    <tr>
        <td width="1200" height="100" colspan="2">Footer</td>
    </tr>
</table>