
    <form method="post" action="..\Ogrenci\OgrKaydetSon">
       <table class="table table-striped">
           <tr >
                <td>Öğrenci Ad </td>
                <td>:</td>
            <td><input class="form-text text-muted" type="text" name="OgrAd" /></td>
           </tr>
            <tr>
                <td>Öğrenci Soyad </td>
                <td>:</td>
                <td><input type="text" name="OgrSoyad" /></td>
           </tr>
            <tr>
                <td>Öğrenci No </td>
                <td>:</td>
                <td><input type="text" name="OgrNo" /></td>
           </tr>
           <tr>
               <td colspan="3">
                <input type="submit" value="Kaydet" />
               </td>
           </tr>
       </table>
        
   
       
    </form>
