@model H3WebYaz.Models.Ogrenci

<table>
    <tr>
        <td>Eklenen Öğrenci Ad</td>
        <td>:</td>
        <td>@Model.OgrAd</td>
    </tr>
    <tr>
        <td>Eklenen Öğrenci Soyad</td>
        <td>:</td>
        <td>@Model.OgrSoyad</td>
    </tr>
        <tr>
        <td>Eklenen Öğrenci No</td>
        <td>:</td>
        <td>@Model.OgrNo</td>
    </tr>
</table>